* {
    margin: 0px;
    padding: 0px;
  }
  
  ul, li {
    display: inline-block;
    list-style: none;
  }
  
  html, body {
      height: 100%;
      background: rgb(53, 59, 72); /* brithish palette blue nights */
      color: white;
      overflow: auto;
  }
  
  .container {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 22px 1fr;
  }
  
  .navbar {
      background: rgb(40, 47, 57);
      display: grid;
      grid-template-columns: auto auto 1fr auto;
      user-select: none;
  }
  
  .navbar-left {
      height: 100%;
      float: left;
      padding-left: 5px;
      vertical-align: middle;
  }
  
  .appcontrol-left {
      user-select: none;
      padding-left: 20px;
  }
  
  .draggable {
      -webkit-app-region: drag;
  }
  
  .appname {
      display: inline-block;
      color: rgb(200, 214, 229); /* Canadian Palette Light blue ballerina */
      vertical-align: middle;
  }
  
  .navbar-right {
      padding-right: 10px;
      text-align: right;
  }
  
  
  
  
  .editor-wrapper {
      height: 100%;
      display: flex;
      flex-direction: row;
      overflow: hidden;
  
      /* avoid browser level touch actions */
      xtouch-action: none;
  }
  
  .editor-left {
      flex: 0 0 auto;
      /* only manually resize */
      width: 1000px;
      min-height: 200px;
      min-width: 140px;
      /*change the max-width value programatically for every monitor*/
      max-width: 1270px;
      white-space: nowrap;
  
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 30px auto 20px;
  }
  
  .editor-stat {
      text-align: right;
      background: rgb(40, 47, 57);
      padding-right: 5px;
      user-select: none;
  }
  
  #curr-lang {
      border-left: 1px solid grey;
      margin: 2px;
      padding-left: 2px;
      color: silver;
  }
  
  
  
  
  .splitter {
    flex: 0 0 auto;
    width: 10px;
    /* background: url(images/vsizegrip.png) center center no-repeat #535353; */
    background: rgb(53, 59, 72); /* brithish palette blue nights */
    min-height: 200px;
    cursor: col-resize;
  }
  
  
  
  
  .editor-right {
      flex: 1 1 auto;
      /* resizable */
      width: 100%;
      min-height: 200px;
      min-width: 50px;
      max-height: 100%;
  
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 30px auto;
  
  }
  
  .appcontrol-right {
      user-select: none;
  }
  
  .editor-io-wrapper {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 100%;
  }
  
  .editor-input {
      flex: 0 0 auto;
      /* only manually resize */
      height: 280px;
      min-height: 40px;
      /*change the max-height value programatically for every monitor*/
      max-height: 520px;
      width: 100%;
  
      background: rgb(28, 28, 36);
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 20px auto;
  }
  .editor-input-header {
      background: rgb(40, 47, 57);
      padding-left: 3px;
      padding-top: 3px;
      text-align: left;
      font-size: 12px;
      color: rgb(169, 167, 165);
      user-select: none;
  }
  
  .splitter-horizontal {
      flex: 0 0 auto;
      height: 10px;
      /*background: url(/images/hsizegrip.png) center center no-repeat #535353;*/
      background: rgb(53, 59, 72); /* brithish palette blue nights */
      cursor: row-resize;
  }
  
  
  .editor-output {
      flex: 1 1 auto;
      /* resizable */
      height: 100%;
      min-height: 50px;
  
      background: rgb(28, 28, 36);
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 20px auto 20px;
  }
  .editor-output-header {
      background: rgb(40, 47, 57);
      padding-left: 3px;
      padding-top: 3px;
      text-align: left;
      font-size: 12px;
      color: rgb(169, 167, 165);
      user-select: none;
  }
  .editor-output-footer {
      background: rgb(40, 47, 57);
      padding-left: 5px;
      user-select: none;
  }
  #compiling-detail {
      margin: 2px;
      padding-right: 2px;
      color: silver;
      user-select: none;
  }
  #compile-result-spin {
      padding-top: 2px;
      font-size: 12px;
      display: none;
  }
  #compile-reult {
      padding-top: 2px;
      font-size: 11px;
  }
  